// fonts
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/red-hat-display-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/red-hat-display-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/red-hat-display-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-blue-100: hsl(225, 100%, 94%);
    --primary-blue-700: hsl(245, 75%, 52%);
    --neutral-blue-50: hsl(225, 100%, 98%);
    --neutral-gray-600:hsl(224, 23%, 55%);
    --neutral-blue-950:hsl(223, 47%, 23%);
    --white:white;
    --font-size: 1rem;
}

// CSS reset
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,h2{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--primary-blue-100);
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family:'Red Hat Display', sans-serif;
}

// PARENT CONTAINER
.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

// ORDER CARD
.order-card-container{
  background-color: white;
  height: 565px;
  width: 328px;
  border-radius: 20px;

  // IMAGE
  .image-container{
    background-image: url(images/illustration-hero.svg);
    background-size: cover;
    background-position: center;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  // CONTENT
  .content-container{
    display: flex;
   flex-direction: column;
   padding: 30px;

    
   .content{
    text-align: center;
    margin-bottom: 25px;
    .content-title{
        font-weight: 900;
        margin-bottom: 15px;
    }

    .content-paragraph{
      line-height: 1.5;
      color: var(--neutral-gray-600);
    }
   }
  }

  // SUBSCRIPTION SECTION
  .subscription-plan-container{
    display: flex;
    flex-direction: row; 
    gap: 15px;
    align-items: center;
    background-color: var(--neutral-blue-50);
    height: 80px;
    border-radius: 10px;
    margin-bottom: 27px;

    .music-icon{
      margin-left: 15px;
    }

    .subscription-title{
      font-weight: 900;
      font-size: clamp(0.9rem, 0.508vw + 0.797rem, 1rem);
    }

    .subscription-price{
      color: var(--neutral-gray-600);
      font-weight: 700;
      font-size: clamp(0.9rem, 0.508vw + 0.797rem, 1rem);
    }

    .change-subscription-link{
      margin-left: 20px;
      font-size: 0.8rem;
      font-weight: 900;
      color: var(--primary-blue-700);
    }
  }

  // BUTTON
  .proceed-to-pay-button{
    height: 50px;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
   font-size: 0.95rem;
    font-weight: 900;
    color:var(--neutral-blue-50);
    border-radius: 10px;
    background-color: var(--primary-blue-700); 
    box-shadow: 0 2px 30px -8px var(--primary-blue-700);
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    opacity: 1;

    //hover state
    transition: opacity 0.3s ease;
  }
  
  // CANCEL LINK
  .cancel-order-link{
    margin-top: 12.5px;
    text-decoration: none ;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.95rem;
    font-weight: 900;
    color:var(--neutral-gray-600);
    transition: color 0.3s ease;
  }

  //HOVER STATES
  .change-subscription-link:hover{
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
  }

  .proceed-to-pay-button:hover{
    opacity: 0.8;
    cursor: pointer;
  }

  .cancel-order-link:hover{
    color: var(--neutral-blue-950);
    cursor: pointer;
  }

  // FOCUS STATES
  .change-subscription-link:focus, .proceed-to-pay-button:focus, .cancel-order-link:focus{
    outline: 1px solid #111;
    outline-offset: .25rem;
  }
}

// RESPONSIVE DESIGN
@media(min-width: 40rem){
  body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }

  .order-card-container{
    height: 698px;
    width: 450px;

    .image-container{
    height: 220.5px;
  }

    .content-container{
      padding: 43.5px;

      .content{
        .content-title{
          font-size: 1.75rem;
        }

        .content-paragraph{
          padding-left: 20px;
          padding-right: 20px;
          font-weight: 700;
        }
      }
    }

    .subscription-plan-container{
      height: 100px;
      margin-bottom: 32.5px;
      gap:20px;

      .music-icon{
        margin-left: 20px;
      }

      .change-subscription-link{
        margin-left: 80px;
      }
    }

    .cancel-order-link{
      margin-top: 20px;
    }
  }

}